{% include "templates/header.html" %}
<div id="content">
	<form class="block" action="{{ prefix }}/admin/blog/insert/save" method="post">
		<input type="hidden" name="key" value="{{ key }}">
		<h2>
			Legg til ny verdi
		</h2>
		<div class="line">
			<div id="stats">
				<div class="inlinestats">
					<h6>Mnd/totalt</h6>
					<h4<?=visual((int)$stat['monthpercent'])?>><?=(int)$stat['month'].$user['unit']?></h4>
					<h5<?=visual((int)$stat['totpercent'])?>><?=(int)$stat['total'].$user['unit']?></h5>
				</div>
				<div class="inlinestats">
					<h6>Prosent</h6>
					<h4<?=visual((int)$stat['monthpercent'])?>><?=(int)$stat['monthpercent']?>%</h4>
					<h5<?=visual((int)$stat['totpercent'])?>><?=(int)$stat['totpercent']?>%</h5>
				</div>
			</div>
			<div id="graph">
			</div>
			
			<!--<table class="small">
			<?
			$k = array_keys($data);
			
			if($dlen > 1 && is_numeric($k[0])){
				for($i=0;$i<$dlen;$i++){
				?>
				<tr>
					<td>Uke <?=$i+1?></td>
					<td><?=$data[$i]['value'].$user['unit']?></td>
					<td><?=date("d/m",$data[$i]['stamp'])?></td>
				</tr>
				<?
				}
			}else{
			?>
			<tr>
				<td>Uke 1</td>
				<td><?=$data['value'].$user['unit']?></td>
				<td><?=date("d/m",$data['stamp'])?></td>
			</tr>
			<?
			}
			?>
		</table>-->
		</div>
	<!--<? if($user['dept']==2){ ?><div class="line"><input id="customer" type="text" name="customer" placeholder="Kunde"></div><? } ?>-->
	<div class="line">
		<? $memo = DB::get("SELECT * FROM tr_memo WHERE user = {$user['id']} AND month = {$user['registermonth']}"); ?>
		<table id="memo">
			<tr>
				
				<td>
					<input name="memow1" placeholder="Uke 1" value="{{ week1 }}>" type="text">
				</td>
				<td rowspan="6" id="memoarea">
					<textarea name="text" placeholder="Mine merknader">{{ memo }}</textarea>
				</td>
			</tr>
			<tr>
				<td>
					<input name="memow2" placeholder="Uke 2" value="{{ week2 }}" type="text">
				</td>
			</tr>
			<tr>
				<td>
					<input name="memow3" placeholder="Uke 3" value="{{ week3 }}" type="text">
				</td>
			</tr>
			<tr>
				<td>
					<input name="memow4" placeholder="Uke 4" value="{{ week4 }}" type="text">
				</td>
			</tr>
			<tr>
				<td>
					<input name="memow5" placeholder="Uke 5" value="{{ week5 }}" type="text">
				</td>
			</tr>
		</table>
	</div>
		<div class="line"><input name="month" type="checkbox" /> Ferdigregistrer {{ month }}</div>
		<div class="footer"><input type="submit" value="Lagre"><input type="button" class="grey" value="Avbryt"></div>
	</div>
</div>
{% include "templates/footer.html" %}
