{% include "templates/header.html" %}
<div id="content">
	<div class="block">
		<h2>
			Kunder
			<a href="{{ prefix }}/admin/manager/new" class="hbtn">
				Legg til ny kunde<img src="{{ prefix }}/media/img/act/4.png">
			</a>
		</h2>
		<table>
			<tbody>
				{% for customer in customers %}
				<tr>
					<td>{{ customer.name }}</td>
					<td>
						<div class="tdwrap">
							<a href="{{ prefix }}/admin/users/edit/{{ user.id }}" class="editbtn"></a>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% include "templates/footer.html" %}