{% include "templates/header.html" %}
<div id="content">
	<div class="block">
		<h2>
			Grupper
			<a href="{{ prefix }}/admin/groups/insert" class="hbtn">
				Legg til ny gruppe<img src="{{ prefix }}/media/img/act/1.png">
			</a>
		</h2>
		<table>
			<tbody>
				{% for group in groups %}
				<tr>
					<td>{{ user.name }}</td>
					<td>{{ user.admin }}</td>
					<td>
						<div class="tdwrap">
							<a href="{{ prefix }}/admin/groups/edit/{{ user.id }}" class="editbtn"></a>
						</div>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% include "templates/footer.html" %}